# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.env.*  # if using dotenv files
.env

# Editor and OS files
*.swp
.DS_Store
.idea/
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Logs and misc
*.log
